In [ ]:
# Importing required libraries

import numpy as np
import pandas as pd
import ast

In [ ]:
# Importing from google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Reading the datasets used

movies = pd.read_csv('/content/drive/MyDrive/TMDB_Movie_Dataset/tmdb_5000_movies.csv')
credits = pd.read_csv('/content/drive/MyDrive/TMDB_Movie_Dataset/tmdb_5000_credits.csv')

## Data Preprocessing and EDA

In [ ]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [ ]:
movies.shape

(4803, 20)

In [ ]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
credits.shape

(4803, 4)

In [ ]:
movies = movies.merge(credits, on='title')

In [ ]:
# Narrowing down the dataset to the following columns

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
#Checking for null and/or duplicate values and deleting them if present

movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.duplicated().sum()

0

In [ ]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
#Converting string to list

ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
#Function to convert list of dictionaries to list format

def convert(text):
  L = []
  for i in ast.literal_eval(text):
    L.append(i['name']) 
  return L

In [ ]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [ ]:
# Function that will return 3 actor names from a list of dictionaries

def convert3(text):
  L = []
  counter = 0
  for i in ast.literal_eval(text):
    if counter != 3:
      L.append(i['name']) 
    counter += 1
  return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, M...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, T...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
# Function that will return the name of the Director from a list of dictionaries

def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, M...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, T...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [ ]:
# Changing type of Overview from list to string

movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, M...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, T...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [ ]:
# Using lambda function to remove all blank spaces. This is done so that there is no confusion in names when tags are made.

movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Cho...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Moni...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, TomH...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Th...",[AndrewStanton]

In [ ]:
# Creating a new column- TAGS, that contains words from all other columns

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Cho...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Moni...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, TomH...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Th...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
# Creating a new dataframe with the following 3 columns

new_df = movies[['movie_id', 'title', 'tags']]

In [ ]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [ ]:
# Concatinating the list of strings in Tags to a single string

new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [ ]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee JamesCameron'

In [ ]:
# Converting to lowercase

new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

## Stemming

In [ ]:
# Applying Stemming to the corpus

# E.g: ['loved', 'loving', 'love'] = ['love', 'love', 'love']

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer() # Creating a PorterStemmer object

In [ ]:
def stem(text):
  y = []

  for i in text.split():
    y.append(ps.stem(i))
  
  return " ".join(y)

In [ ]:
# Applying stemming to all tags in the corpus

new_df['tags'] = new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

# Vectorization

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [ ]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 5000)

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors # this will be a sparse matrix since the total size of the vector is 5000 >>>> as compared to tag size

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
# To see the 5000 most common words from the corpus string

len(cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

5000

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1910',
 '1930',
 '1940',
 '1950',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1980',
 '1990',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '20th',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aasifmandvi',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'abov',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adambrodi',
 'adamgoldberg',
 'adamlefevr',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adewaleakinnuoye',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrianmartinez',
 'adrianscarborough',
 'adrienbrodi',
 'adult',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'agbaj',
 'age',
 'agediffer',
 'agency',
 'agenda',
 'agent',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airplan',
 'airport',
 'aka',
 'al',
 'alabama',
 'alanalda',
 'alanarkin',
 'alancum',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albert',
 'albertbrook',
 'albertfinney',
 'alcohol',
 'alecbaldwin',
 'alecguin',
 'alessandronivola',
 'alex',
 'alexandersiddig',
 'alexanderskarsgård',
 'alexapenavega',
 'alexborstein',
 'alexisbledel',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'ali',
 'alic',
 'alice',
 'alicedrummond',
 'aliciasilverston',
 'aliciawitt',
 'alien',
 'alieninvas',
 'alienlife',
 'alilart',
 'aliv',
 'alive',
 'allancordun',
 'allen',
 'allencovert',
 'alleong',
 'alli',
 'allianc',
 'allisonjanney',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'ambassador',
 'amberheard',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanfootbal',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amus',
 'amusementpark',
 'amyadam',
 'amypoehl',
 'amyryan',
 'amysedari',
 'amysmart',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'anderson',
 'andi',
 'andiemacdowel',
 'andreamartin',
 'andrew',
 'andrewdali',
 'android',
 'andydick',
 'andygarcía',
 'andyricht',
 'andysamberg',
 'andyserki',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'annalevin',
 'annapaquin',
 'anndowd',
 'anne',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'annikaperga',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anthropomorph',
 'anti',
 'antihero',
 'antonicoron',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypt',
 'appar',
 'appear',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'arab',
 'archaeologist',
 'architect',
 'arci',
 'arctic',
 'area',
 'arena',
 'argument',
 'arielwint',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'arminmueller',
 'armor',
 'armsdeal',
 'armstrong',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'arthurj',
 'arthurtovey',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'athlet',
 'atomicbomb',
 'attack',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'autism',
 'auto',
 'avaacr',
 'aveng',
 'avoid',
 'await',
 'awaken',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'azizansari',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bag',
 'bahama',
 'bail',
 'bailey',
 'balanc',
 'ball',
 'ballet',
 'band',
 'bandit',
 'banish',
 'bank',
 'banker',
 'bankrobberi',
 'baptist',
 'bar',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrypepp',
 'barryshabakahenley',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'bear',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'beccasweitz',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'benedictcumberbatch',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'benmendelsohn',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'bernardhil',
 'bernardle',
 'berniemac',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'bethgrant',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'big',
 'bigger',
 'biggest',
 'biker',
 'bikini',
 'billcamp',
 'billcobb',
 'billduk',
 'billhad',
 'billi',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billnunn',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billyslaught',
 'billyzan',
 'biographi',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blackpeopl',
 'blade',
 'blakeclark',
 'blame',
 'blind',
 'bliss',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'blythedann',
 'board',
 'boat',
 'bob',
 'bobbalaban',
 'bobbergen',
 'bobbi',
 'bobbycannaval',
 'bobbyfarrelli',
 'bobclendenin',
 'bobgunton',
 'bobhoskin',
 'bobstephenson',
 'bodi',
 'body',
 'bodyguard',
 'bokeemwoodbin',
 'bold',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'bonniehunt',
 'book',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'bound',
 'bounti',
 'bountyhunt',
 'box',
 'boxer',
 'boy',
 'boydbank',
 'boyfriend',
 'boys',
 'braddourif',
 'bradgarrett',
 'bradleycoop',
 'bradleywhitford',
 'bradpitt',
 'bradwilliamhenk',
 'brain',
 'brand',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breckinmey',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brendansextoniii',
 'brentbrisco',
 'brentspin',
 'brettcullen',
 'brettratn',
 'brettric',
 'brian',
 'briancox',
 'briandennehi',
 'briandepalma',
 'briandoyle',
 'brianj',
 'briano',
 'briansteel',
 'bride',
 'bridg',
 'brief',
 'brielarson',
 'brien',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'brook',
 'brooklyn',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucedern',
 'brucegreenwood',
 'brucemcgil',
 'brucesp',
 'brucewilli',
 'brutal',
 'bryan',
 'bryancranston',
 'bryansing',
 'brycedallashoward',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'buri',
 'burn',
 'burtreynold',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butler',
 'buy',
 'byrn',
 'cabin',
 'cal',
 'california',
 'callahan',
 'callumkeithrenni',
 'calvin',
 'came',
 'camera',
 'cameron',
 'cameronbright',
 'camerondiaz',
 'camp',
 'campaign',
 'campbel',
 'campbellscott',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cannib',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraccid',
 'caraseymour',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'careymulligan',
 'caribbean',
 'carjourney',
 'carl',
 'carlagallo',
 'carlagugino',
 'carlo',
 'carlosalazraqui',
 'carmen',
 'carmenelectra',
 'carol',
 'carolineaaron',
 'carolinegoodal',
 'carrac',
 'carri',
 'carrie',
 'carriefish',
 'cartel',
 'carter',
 'cary',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinekeen',
 'catherineo',
 'catherinezeta',
 'cathey',
 'cathol',
 'catholic',
 'caught',
 'caus',
 'cave',
 'cedrictheentertain',
 'celebr',
 'celiaimri',
 'celiaweston',
 'cellphon',
 'cemeteri',
 'center',
 'central',
 'centuri',
 'centuries',
 'century',
 'certain',
 'chadmichaelmurray',
 'chain',
 'chainsaw',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chancekelli',
 'chang',
 'channingtatum',
 'chao',
 'chaos',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charlesd',
 'charlesdurn',
 'charlesnapi',
 'charless',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotterampl',
 'charltonheston',
 'charm',
 'chase',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheechmarin',
 'cheerlead',
 'chef',
 'chelcieross',
 'chemic',
 'cher',
 'cherryjon',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhood',
 'children',
 'chill',
 'chimcbrid',
 'china',
 'chines',
 'chip',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigni',
 'choic',
 'choos',
 'chosen',
 'chri',
 'chrisbrown',
 'chriscolumbu',
 'chriscoop',
 'chriselli',
 'chrisevan',
 'chrishemsworth',
 'chrismessina',
 'chrismil',
 'chriso',
 'chrisowen',
 'chrisparnel',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christinaappleg',
 'christinaricci',
 'christinebaranski',
 'christma',
 'christmas',
 'christmasparti',
 'christoph',
 'christopherfairbank',
 'christopherguest',
 'christopherknight',
 'christopherlambert',
 'christopherle',
 'christopherlloyd',
 'christophermcdonald',
 'christophermeloni',
 'christophermintz',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'ciaránhind',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clancybrown',
 'clark',
 'clarkgregg',
 'clash',
 'class',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'cleaduval',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliffcurti',
 'cliftoncollinsjr',
 'climat',
 'climb',
 'clinteastwood',
 'clinthoward',
 'cliveowen',
 'clock',
 'clone',
 'clorisleachman',
 'close',
 'closer',
 'clown',
 'club',
 'clue',
 'coach',
 'coast',
 'cocain',
 'code',
 'codycameron',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colehaus',
 'colinfarrel',
 'colinfirth',
 'colinhank',
 'colinsalmon',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleencamp',
 'colleg',
 'college',
 'collid',
 'collin',
 'collis',
 'colmfeor',
 'colmmeaney',
 'colonel',
 'coloni',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commit',
 'common',
 'commun',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compton',
 'comput',
 'conan',
 'concern',
 'concert',
 'conchataferrel',
 'condit',
 'confess',
 'confid',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connel',
 'connieray',
 'connor',
 'conquer',
 'conradvernon',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convent',
 'convict',
 'convinc',
 'cook',
 'cool',
 'cooper',
 'cop',
 'cope',
 'core',
 'coreyburton',
 'coreyfeldman',
 'coreystol',
 'corner',
 'corpor',
 'corps',
 'corrupt',
 'cost',
 'costum',
 'couldn',
 'count',
 'countri',
 'country',
 'countrysid',
 'coup',
 'coupl',
 'couple',
 ...]

# Calculating Cosine Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
cosine_similarity(vectors).shape

# Calculating the distance of every movie with every other movie
# We have 4806 vectors
# So TC: O(N^2) = 4806 x 4806, hence the shape

(4806, 4806)

In [ ]:
similarity[0] # diagnol will always be 1

array([1.        , 0.06819943, 0.07845987, ..., 0.04313311, 0.        ,
       0.        ])

# Recommender System

In [ ]:
# 1. Given a movie, first find index i of that movie (0 to 4805) and take similarity[i] array
# 2. Sort the array so that most similiar movies appear first and least similar appear last
# 3. Return top 5/10/... movies as per choice

In [ ]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

119

In [ ]:
# To get a list of tuples that contains (index of movie, similarity of index movie with movie 0)

list(enumerate(similarity[0]))

[(0, 1.0),
 (1, 0.06819943394704735),
 (2, 0.07845986714489121),
 (3, 0.07864513273256968),
 (4, 0.17428408038011958),
 (5, 0.09113532707206115),
 (6, 0.03645413082882446),
 (7, 0.11620402679752964),
 (8, 0.04706208053350117),
 (9, 0.0774693511983531),
 (10, 0.09412416106700235),
 (11, 0.0880450906325624),
 (12, 0.07521183158458504),
 (13, 0.03783023939287672),
 (14, 0.110056363290703),
 (15, 0.062257280636469035),
 (16, 0.06535653014254486),
 (17, 0.12244949999473093),
 (18, 0.08863799356486773),
 (19, 0.07508510557782777),
 (20, 0.05329544781384212),
 (21, 0.09302325581395349),
 (22, 0.05763904177042349),
 (23, 0.07624928516630233),
 (24, 0.04822428221704121),
 (25, 0.03197238778028809),
 (26, 0.12119357448701654),
 (27, 0.16894148755011248),
 (28, 0.10166571355506977),
 (29, 0.060072129859745485),
 (30, 0.05547950410914818),
 (31, 0.12209657262637608),
 (32, 0.07343468193540315),
 (33, 0.07421560439929402),
 (34, 0.0),
 (35, 0.07733088933397005),
 (36, 0.1494784976156437),
 (37, 0.07059312080025176),
 (38, 0.06951529993749708),
 (39, 0.07059312080025176),
 (40, 0.06059678724350827),
 (41, 0.14803422705323474),
 (42, 0.0),
 (43, 0.10376213439411505),
 (44, 0.026958193300859603),
 (45, 0.0774693511983531),
 (46, 0.12939932784412608),
 (47, 0.18194871573418356),
 (48, 0.07397267214553091),
 (49, 0.05568460463897045),
 (50, 0.10618637464037979),
 (51, 0.07343468193540315),
 (52, 0.09843740386976971),
 (53, 0.06168870908644987),
 (54, 0.05477910356647767),
 (55, 0.06616316935788494),
 (56, 0.14409760442605873),
 (57, 0.041504853757646024),
 (58, 0.062257280636469035),
 (59, 0.06862971855589192),
 (60, 0.01715742963897298),
 (61, 0.19822791512600965),
 (62, 0.06819943394704735),
 (63, 0.07685205569389798),
 (64, 0.025070610528195012),
 (65, 0.017049858486761837),
 (66, 0.020562903028816623),
 (67, 0.1307130602850897),
 (68, 0.09302325581395349),
 (69, 0.024187846604404414),
 (70, 0.06976744186046512),
 (71, 0.06819943394704735),
 (72, 0.11627906976744186),
 (73, 0.026958193300859603),
 (74, 0.19810145392326536),
 (75, 0.10028244211278005),
 (76, 0.06469966392206304),
 (77, 0.012752571097814504),
 (78, 0.046511627906976744),
 (79, 0.05180118867824779),
 (80, 0.04621404565861646),
 (81, 0.1010438990763711),
 (82, 0.0660338179744218),
 (83, 0.1708325687035928),
 (84, 0.11349071817863016),
 (85, 0.10319815272747779),
 (86, 0.06168870908644987),
 (87, 0.1031078524452934),
 (88, 0.07845986714489121),
 (89, 0.0515539262226467),
 (90, 0.05869672708837492),
 (91, 0.15042366316917008),
 (92, 0.05857632341884199),
 (93, 0.06897007348075543),
 (94, 0.13346521599003872),
 (95, 0.12451456127293807),
 (96, 0.06745406256199318),
 (97, 0.06673260799501936),
 (98, 0.07144882623443115),
 (99, 0.046511627906976744),
 (100, 0.053916386601719206),
 (101, 0.062257280636469035),
 (102, 0.11527808354084697),
 (103, 0.08009617314632732),
 (104, 0.05230657809659414),
 (105, 0.07233642332556181),
 (106, 0.05114957546028551),
 (107, 0.05631382918337083),
 (108, 0.1307130602850897),
 (109, 0.05981486045545792),
 (110, 0.03569721523499571),
 (111, 0.11912173678640628),
 (112, 0.06976744186046512),
 (113, 0.03783023939287672),
 (114, 0.03905088227922799),
 (115, 0.04075695729696112),
 (116, 0.04496937504132879),
 (117, 0.05763904177042349),
 (118, 0.030499714066520935),
 (119, 0.03873467559917655),
 (120, 0.0),
 (121, 0.08993875008265757),
 (122, 0.11627906976744186),
 (123, 0.10473644811127698),
 (124, 0.05956086839320314),
 (125, 0.07598590170168282),
 (126, 0.10892755023757475),
 (127, 0.1363988678940947),
 (128, 0.0),
 (129, 0.07941449119093752),
 (130, 0.023531040266750586),
 (131, 0.09412416106700235),
 (132, 0.06168870908644987),
 (133, 0.025416428388767443),
 (134, 0.10955820713295535),
 (135, 0.0),
 (136, 0.02037847864848056),
 (137, 0.027389551783238836),
 (138, 0.11495012246792571),
 (139, 0.14794534429106182),
 (140, 0.04004808657316366),
 (141, 0.08216865534971651),
 (142, 0.07733088933397005),
 (143, 0.08151391459392224),
 (144, 0.0427081421758982),
 (145, 0.01737882498437427),
 (146, 0.01467418177209373),
 (147, 0.050141221056390024),
 (148, 0.1031078524452934),
 (149, 0.13232633871576988),
 (150, 0.1488671310552411),
 (151, 0.19507682662870648),
 (152, 0.06745406256199318),
 (153, 0.09049125308576025),
 (154, 0.05869672708837492),
 (155, 0.019367337799588276),
 (156, 0.05589199680799574),
 (157, 0.11739345417674985),
 (158, 0.1447860049372164),
 (159, 0.04883862905055043),
 (160, 0.10952216231963138),
 (161, 0.027842302319485226),
 (162, 0.030499714066520935),
 (163, 0.045980048987170286),
 (164, 0.07521183158458504),
 (165, 0.04313310928137536),
 (166, 0.11122101332503227),
 (167, 0.1132730943577198),
 (168, 0.160930171455096),
 (169, 0.07685205569389798),
 (170, 0.09683668899794137),
 (171, 0.021147746721890678),
 (172, 0.17609018126512477),
 (173, 0.02037847864848056),
 (174, 0.06897007348075543),
 (175, 0.06469966392206304),
 (176, 0.027389551783238836),
 (177, 0.028819520885211745),
 (178, 0.0213540710879491),
 (179, 0.0566365471788599),
 (180, 0.019525441139613995),
 (181, 0.040397858162338846),
 (182, 0.10012021643290915),
 (183, 0.06394477556057618),
 (184, 0.1709352016769265),
 (185, 0.0660338179744218),
 (186, 0.05391638660171921),
 (187, 0.13346521599003872),
 (188, 0.04075695729696112),
 (189, 0.09539445011233401),
 (190, 0.07508510557782777),
 (191, 0.04313310928137536),
 (192, 0.0440225453162812),
 (193, 0.08845555948069525),
 (194, 0.0),
 (195, 0.04822428221704121),
 (196, 0.041894579244510795),
 (197, 0.03327791628198609),
 (198, 0.04947706959952935),
 (199, 0.09762720569806997),
 (200, 0.08645856265563523),
 (201, 0.0),
 (202, 0.026958193300859603),
 (203, 0.09526510164590819),
 (204, 0.06819943394704735),
 (205, 0.06359630007488934),
 (206, 0.11934900940733287),
 (207, 0.07059312080025176),
 (208, 0.1363988678940947),
 (209, 0.08352690695845567),
 (210, 0.06745406256199318),
 (211, 0.02156655464068768),
 (212, 0.06113543594544168),
 (213, 0.09113532707206115),
 (214, 0.04822428221704121),
 (215, 0.06059678724350827),
 (216, 0.05981486045545792),
 (217, 0.08300970751529205),
 (218, 0.02934836354418746),
 (219, 0.07059312080025176),
 (220, 0.1569197342897824),
 (221, 0.04448840533001291),
 (222, 0.07624928516630233),
 (223, 0.09767725810110087),
 (224, 0.054681196243236696),
 (225, 0.0427081421758982),
 (226, 0.027389551783238836),
 (227, 0.07233642332556181),
 (228, 0.10573873360945339),
 (229, 0.1010438990763711),
 (230, 0.08746392856766494),
 (231, 0.0),
 (232, 0.10166571355506977),
 (233, 0.08216865534971651),
 (234, 0.08459098688756271),
 (235, 0.07059312080025176),
 (236, 0.10166571355506977),
 (237, 0.05763904177042349),
 (238, 0.10495671428119793),
 (239, 0.09315332801332622),
 (240, 0.046511627906976744),
 (241, 0.07521183158458504),
 (242, 0.06897007348075543),
 (243, 0.08300970751529205),
 (244, 0.08216865534971651),
 (245, 0.06976744186046512),
 (246, 0.07091039485189418),
 (247, 0.0),
 (248, 0.041894579244510795),
 (249, 0.1132730943577198),
 (250, 0.0),
 (251, 0.034099716973523674),
 (252, 0.018771276394456943),
 (253, 0.0628418688667662),
 (254, 0.0660338179744218),
 (255, 0.022733144649015782),
 (256, 0.08972229068318688),
 (257, 0.062257280636469035),
 (258, 0.01797212886723974),
 (259, 0.053916386601719206),
 (260, 0.18582615562066462),
 (261, 0.02156655464068768),
 (262, 0.09762720569806997),
 (263, 0.07845986714489121),
 (264, 0.0),
 (265, 0.025416428388767443),
 (266, 0.08897681066002582),
 (267, 0.0566365471788599),
 (268, 0.04448840533001291),
 (269, 0.025070610528195012),
 (270, 0.10099464540584711),
 (271, 0.06819943394704735),
 (272, 0.025416428388767443),
 (273, 0.03726133120533049),
 (274, 0.08335696394016966),
 (275, 0.1270821419438372),
 (276, 0.04947706959952935),
 (277, 0.04822428221704121),
 (278, 0.08225161211526649),
 (279, 0.062257280636469035),
 (280, 0.02178551004751495),
 (281, 0.05247835714059896),
 (282, 0.020947289622255397),
 (283, 0.024112141108520606),
 (284, 0.017609018126512475),
 (285, 0.017267062892749263),
 (286, 0.07139443046999142),
 (287, 0.01891511969643836),
 (288, 0.025070610528195012),
 (289, 0.0427081421758982),
 (290, 0.05763904177042349),
 (291, 0.045466289298031565),
 (292, 0.07845986714489121),
 (293, 0.024112141108520606),
 (294, 0.12535305264097507),
 (295, 0.09302325581395349),
 (296, 0.03671734096770157),
 (297, 0.042295493443781355),
 (298, 0.0),
 (299, 0.05429475185145616),
 (300, 0.1540789086069842),
 (301, 0.08578714819486491),
 (302, 0.06535653014254486),
 (303, 0.024738534799764674),
 (304, 0.061643893454609106),
 (305, 0.17023607726794523),
 (306, 0.07521183158458504),
 (307, 0.0999795980820074),
 (308, 0.05869672708837492),
 (309, 0.05763904177042349),
 (310, 0.02894904747440331),
 (311, 0.13346521599003872),
 (312, 0.08993875008265757),
 (313, 0.05230657809659414),
 (314, 0.0),
 (315, 0.07421560439929402),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.08495482076828985),
 (320, 0.025416428388767443),
 (321, 0.0),
 (322, 0.20691022044226628),
 (323, 0.026546593660094948),
 (324, 0.022990024493585143),
 (325, 0.07521183158458504),
 (326, 0.04947706959952935),
 (327, 0.025416428388767443),
 (328, 0.023816275411477048),
 (329, 0.06406221326384731),
 (330, 0.08300970751529205),
 (331, 0.08459098688756271),
 (332, 0.1031078524452934),
 (333, 0.022484687520664393),
 (334, 0.08897681066002582),
 (335, 0.042295493443781355),
 (336, 0.05869672708837492),
 (337, 0.042295493443781355),
 (338, 0.0),
 (339, 0.04313310928137536),
 (340, 0.045466289298031565),
 (341, 0.06976744186046512),
 (342, 0.14714606591858567),
 (343, 0.017609018126512475),
 (344, 0.02615328904829707),
 (345, 0.021147746721890678),
 (346, 0.0),
 (347, 0.0),
 (348, 0.053093187320189895),
 (349, 0.07521183158458504),
 (350, 0.0440225453162812),
 (351, 0.0),
 (352, 0.024738534799764674),
 (353, 0.0361965012343041),
 (354, 0.02002404328658183),
 (355, 0.03475764996874854),
 (356, 0.08352690695845567),
 (357, 0.0),
 (358, 0.05477910356647767),
 (359, 0.027842302319485226),
 (360, 0.01891511969643836),
 (361, 0.06535653014254486),
 (362, 0.07233642332556181),
 (363, 0.08863799356486773),
 (364, 0.02037847864848056),
 (365, 0.06344324016567203),
 (366, 0.05230657809659414),
 (367, 0.0),
 (368, 0.10783277320343841),
 (369, 0.07733088933397005),
 (370, 0.0435710200950299),
 (371, 0.0871420401900598),
 (372, 0.0435710200950299),
 (373, 0.15249857033260467),
 (374, 0.03545519742594709),
 (375, 0.05507601145155236),
 (376, 0.041894579244510795),
 (377, 0.0),
 (378, 0.0),
 (379, 0.046938069565556316),
 (380, 0.045980048987170286),
 (381, 0.07188851546895896),
 (382, 0.0),
 (383, 0.08378915848902159),
 (384, 0.05568460463897045),
 (385, 0.0),
 (386, 0.019367337799588276),
 (387, 0.020947289622255397),
 (388, 0.0),
 (389, 0.08216865534971651),
 (390, 0.022484687520664393),
 (391, 0.053182796138920636),
 (392, 0.026958193300859603),
 (393, 0.0),
 (394, 0.0213540710879491),
 (395, 0.04496937504132879),
 (396, 0.0361965012343041),
 (397, 0.046511627906976744),
 (398, 0.0),
 (399, 0.0427081421758982),
 (400, 0.07845986714489121),
 (401, 0.02831827358942995),
 (402, 0.07144882623443115),
 (403, 0.0723930024686082),
 (404, 0.05568460463897045),
 (405, 0.0515539262226467),
 (406, 0.018493168036382727),
 (407, 0.045466289298031565),
 (408, 0.028819520885211745),
 (409, 0.0),
 (410, 0.08993875008265757),
 (411, 0.0440225453162812),
 (412, 0.08626621856275073),
 (413, 0.1270821419438372),
 (414, 0.027389551783238836),
 (415, 0.050521949538185555),
 (416, 0.04448840533001291),
 (417, 0.02831827358942995),
 (418, 0.026958193300859603),
 (419, 0.08300970751529205),
 (420, 0.10189239324240279),
 (421, 0.020198929081169423),
 (422, 0.10461315619318828),
 (423, 0.038124642583151166),
 (424, 0.03431485927794596),
 (425, 0.09683668899794137),
 (426, 0.0496223770184137),
 (427, 0.026958193300859603),
 (428, 0.05247835714059896),
 (429, 0.0),
 (430, 0.04706208053350117),
 (431, 0.020947289622255397),
 (432, 0.10573873360945338),
 (433, 0.02577696311132335),
 (434, 0.0),
 (435, 0.03179815003744467),
 (436, 0.0),
 (437, 0.022733144649015782),
 (438, 0.110056363290703),
 (439, 0.023255813953488372),
 (440, 0.022484687520664393),
 (441, 0.050141221056390024),
 (442, 0.042295493443781355),
 (443, 0.05507601145155236),
 (444, 0.0),
 (445, 0.0871420401900598),
 (446, 0.02037847864848056),
 (447, 0.05857632341884199),
 (448, 0.03645413082882446),
 (449, 0.09526510164590819),
 (450, 0.019062321291575583),
 (451, 0.022733144649015782),
 (452, 0.026958193300859603),
 (453, 0.022733144649015782),
 (454, 0.10892755023757475),
 (455, 0.05674535908931508),
 (456, 0.040397858162338846),
 (457, 0.07325794357582566),
 (458, 0.041125806057633246),
 (459, 0.03251280443811775),
 (460, 0.02156655464068768),
 (461, 0.13273296830047474),
 (462, 0.030499714066520935),
 (463, 0.02990743022772896),
 (464, 0.0),
 (465, 0.0),
 (466, 0.11527808354084698),
 (467, 0.09762720569806997),
 (468, 0.02615328904829707),
 (469, 0.05589199680799574),
 (470, 0.041504853757646024),
 (471, 0.05718696387472675),
 (472, 0.09644856443408242),
 (473, 0.07874992309581577),
 (474, 0.0),
 (475, 0.04075695729696112),
 (476, 0.11739345417674985),
 (477, 0.0),
 (478, 0.05083285677753489),
 (479, 0.08270396169735617),
 (480, 0.09196009797434057),
 (481, 0.0),
 (482, 0.020562903028816623),
 (483, 0.10618637464037979),
 (484, 0.050832856777534886),
 (485, 0.045980048987170286),
 (486, 0.07549804236114203),
 (487, 0.11527808354084698),
 (488, 0.06161872754482195),
 (489, 0.0),
 (490, 0.12719260014977868),
 (491, 0.0945755984821918),
 (492, 0.07059312080025176),
 (493, 0.02869171750210899),
 (494, 0.0),
 (495, 0.17609018126512477),
 (496, 0.016256402219058875),
 (497, 0.0),
 (498, 0.06359630007488934),
 (499, 0.0),
 (500, 0.022733144649015782),
 (501, 0.07397267214553091),
 (502, 0.12688648033134406),
 (503, 0.06819943394704735),
 (504, 0.0),
 (505, 0.11962972091091584),
 (506, 0.027389551783238836),
 (507, 0.22874785549890703),
 (508, 0.08378915848902159),
 (509, 0.01891511969643836),
 (510, 0.09196009797434057),
 (511, 0.07963978098028485),
 (512, 0.027389551783238836),
 (513, 0.13071306028508972),
 (514, 0.0427081421758982),
 (515, 0.0213540710879491),
 (516, 0.023531040266750586),
 (517, 0.0),
 (518, 0.0435710200950299),
 (519, 0.0),
 (520, 0.0),
 (521, 0.04706208053350117),
 (522, 0.023255813953488372),
 (523, 0.04496937504132879),
 (524, 0.0),
 (525, 0.0427081421758982),
 (526, 0.025416428388767443),
 (527, 0.02934836354418746),
 (528, 0.021147746721890678),
 (529, 0.15096588248481377),
 (530, 0.047632550822954096),
 (531, 0.04496937504132879),
 (532, 0.020562903028816623),
 (533, 0.0515539262226467),
 (534, 0.07188851546895896),
 (535, 0.08993875008265757),
 (536, 0.10783277320343843),
 (537, 0.06099942813304187),
 (538, 0.0),
 (539, 0.22874785549890703),
 (540, 0.06673260799501936),
 (541, 0.07810176455845598),
 (542, 0.03521803625302495),
 (543, 0.06406221326384731),
 (544, 0.10166571355506977),
 (545, 0.02178551004751495),
 (546, 0.05869672708837492),
 (547, 0.07325794357582566),
 (548, 0.0),
 (549, 0.11242343760332196),
 (550, 0.020752426878823012),
 (551, 0.05429475185145616),
 (552, 0.0),
 (553, 0.02577696311132335),
 (554, 0.0),
 (555, 0.03894462117810062),
 (556, 0.022733144649015782),
 (557, 0.11242343760332196),
 (558, 0.0),
 (559, 0.025416428388767443),
 (560, 0.03347778544408819),
 (561, 0.027842302319485226),
 (562, 0.04883862905055043),
 (563, 0.023255813953488372),
 (564, 0.07845986714489121),
 (565, 0.03726133120533049),
 (566, 0.018493168036382727),
 (567, 0.02178551004751495),
 (568, 0.13076644524148534),
 (569, 0.041125806057633246),
 (570, 0.0566365471788599),
 (571, 0.0361965012343041),
 (572, 0.09762720569806999),
 (573, 0.01809825061715205),
 (574, 0.042295493443781355),
 (575, 0.04075695729696112),
 (576, 0.04496937504132879),
 (577, 0.20333142711013957),
 (578, 0.03842602784694899),
 (579, 0.1270821419438372),
 (580, 0.02178551004751495),
 (581, 0.14159136794714974),
 (582, 0.2362497692874473),
 (583, 0.03431485927794596),
 (584, 0.06359630007488934),
 (585, 0.022484687520664393),
 (586, 0.06344324016567203),
 (587, 0.06819943394704735),
 (588, 0.023531040266750586),
 (589, 0.11912173678640628),
 (590, 0.028819520885211745),
 (591, 0.05507601145155236),
 (592, 0.02037847864848056),
 (593, 0.0),
 (594, 0.046511627906976744),
 (595, 0.1540789086069842),
 (596, 0.08459098688756271),
 (597, 0.053093187320189895),
 (598, 0.02615328904829707),
 (599, 0.03880427974444132),
 (600, 0.06344324016567203),
 (601, 0.03112864031823452),
 (602, 0.08459098688756271),
 (603, 0.04947706959952935),
 (604, 0.0566365471788599),
 (605, 0.025416428388767443),
 (606, 0.0),
 (607, 0.07343468193540315),
 (608, 0.0),
 (609, 0.041894579244510795),
 (610, 0.05522628734191939),
 (611, 0.02002404328658183),
 (612, 0.07508510557782777),
 (613, 0.03327791628198609),
 (614, 0.04313310928137536),
 (615, 0.05568460463897045),
 (616, 0.050832856777534886),
 (617, 0.04822428221704121),
 (618, 0.07685205569389798),
 (619, 0.0),
 (620, 0.0),
 (621, 0.05869672708837492),
 (622, 0.04004808657316366),
 (623, 0.0),
 (624, 0.08804509063256238),
 (625, 0.028819520885211745),
 (626, 0.06673260799501936),
 (627, 0.09983374884595828),
 (628, 0.0435710200950299),
 (629, 0.042295493443781355),
 (630, 0.020562903028816623),
 (631, 0.04706208053350117),
 (632, 0.09302325581395349),
 (633, 0.018771276394456943),
 (634, 0.06819943394704735),
 (635, 0.06059678724350827),
 (636, 0.021147746721890678),
 (637, 0.041894579244510795),
 (638, 0.028819520885211745),
 (639, 0.0),
 (640, 0.05763904177042349),
 (641, 0.0),
 (642, 0.0),
 (643, 0.08897681066002582),
 (644, 0.04448840533001291),
 (645, 0.040397858162338846),
 (646, 0.046511627906976744),
 (647, 0.041894579244510795),
 (648, 0.026958193300859603),
 (649, 0.0),
 (650, 0.04706208053350117),
 (651, 0.0),
 (652, 0.04004808657316366),
 (653, 0.09539445011233401),
 (654, 0.11095900821829638),
 (655, 0.07059312080025176),
 (656, 0.0),
 (657, 0.0650256088762355),
 (658, 0.045466289298031565),
 (659, 0.022733144649015782),
 (660, 0.08804509063256238),
 (661, 0.15370411138779597),
 (662, 0.0),
 (663, 0.0),
 (664, 0.053916386601719206),
 (665, 0.06406221326384731),
 (666, 0.04706208053350117),
 (667, 0.0),
 (668, 0.12719260014977868),
 (669, 0.02615328904829707),
 (670, 0.015404681886205487),
 (671, 0.08079571632467769),
 (672, 0.025416428388767443),
 (673, 0.01737882498437427),
 (674, 0.0628418688667662),
 (675, 0.040397858162338846),
 (676, 0.024738534799764674),
 (677, 0.022244202665006454),
 (678, 0.10618637464037979),
 (679, 0.0),
 (680, 0.06976744186046512),
 (681, 0.025416428388767443),
 (682, 0.018358670483850786),
 (683, 0.04313310928137536),
 (684, 0.0),
 (685, 0.02577696311132335),
 (686, 0.028819520885211745),
 (687, 0.09767725810110087),
 (688, 0.03905088227922799),
 (689, 0.0),
 (690, 0.02156655464068768),
 (691, 0.050141221056390024),
 (692, 0.09606506961737248),
 (693, 0.02831827358942995),
 (694, 0.019367337799588276),
 (695, 0.0566365471788599),
 (696, 0.02037847864848056),
 (697, 0.0),
 (698, 0.03970724559546876),
 (699, 0.030499714066520935),
 (700, 0.024419314525275217),
 (701, 0.0566365471788599),
 (702, 0.020947289622255397),
 (703, 0.020198929081169423),
 (704, 0.06059678724350827),
 (705, 0.0213540710879491),
 (706, 0.019687480773953943),
 (707, 0.026546593660094948),
 (708, 0.04448840533001291),
 (709, 0.018630665602665245),
 (710, 0.054681196243236696),
 (711, 0.045466289298031565),
 (712, 0.0),
 (713, 0.02178551004751495),
 (714, 0.0),
 (715, 0.08645856265563523),
 (716, 0.025070610528195012),
 (717, 0.0),
 (718, 0.04075695729696112),
 (719, 0.0),
 (720, 0.023255813953488372),
 (721, 0.02934836354418746),
 (722, 0.0),
 (723, 0.022244202665006454),
 (724, 0.02178551004751495),
 (725, 0.0),
 (726, 0.0),
 (727, 0.028565599452002117),
 (728, 0.06535653014254486),
 (729, 0.0427081421758982),
 (730, 0.04669296047735178),
 (731, 0.045466289298031565),
 (732, 0.062257280636469035),
 (733, 0.05674535908931508),

In [ ]:
# Sorting based on 2nd element in tuple- (similarity of index movie with movie 0)
# Then selecting the first 5 movies (Excluding movie 0- the movie itself)

sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x: x[1])[1:6]

[(1216, 0.2734059812161834),
 (2333, 0.2372321010475645),
 (582, 0.2362497692874473),
 (507, 0.22874785549890703),
 (539, 0.22874785549890703)]

In [ ]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [ ]:
# Using the above in the function below

def recommend(movie):
  movie_index = new_df[new_df['title'] == movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x: x[1])[1:6]

  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Avatar')

Aliens vs Predator: Requiem
Predator
Battle: Los Angeles
Independence Day
Titan A.E.

# Web App

In [ ]:
import pickle

Pickle in Python is primarily used in converting a Python object into a byte stream to store it in a file/database, maintain program state across sessions, or transport data over the network.

www.synopsys.com

In [ ]:
pickle.dump(new_df, open('movies.pkl', 'wb'))

In [ ]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [ ]:
pickle.dump(new_df.to_dict(), open('movies_dict.pkl', 'wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))